@font-face {
    font-family: "Young Serif";
    src: url("/assets/fonts/young-serif/YoungSerif-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Outfit";
    src: url("/assets/fonts/outfit/Outfit-VariableFont_wght.ttf") format('truetype');
}

:root {
    /* Colors */
    --white-color: hsl(0, 0%, 100%);
    --stone-100-color: hsl(30, 54%, 90%);
    --stone-150-color: hsl(30, 18%, 87%);
    --stone-600-color: hsl(30, 10%, 34%);
    --stone-900-color: hsl(24, 5%, 18%);
    --brown-800-color: hsl(14, 45%, 36%);
    --rose-800-color: hsl(332, 51%, 32%);
    --rose-50-color: hsl(330, 100%, 98%);

    /* Typography */

    /* Font Size */
    --paragraph-fs: 16px;

    /* Fonts */
    --young-serif-font: 'Young Serif', serif;
    --outfit-font: 'Outfit', sans-serif;
}

/* Box-Sizing Adjustment */
*, 
::before, 
*::after {
    box-sizing: border-box;
}

/* Reset Margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

/* Set Up The Body */
body {
    line-height: 1.5;   /*Default = 1.4, but too small. Alt: 1.6 */
    min-height: 100vh; /*Prevent Short Page Issue, No Scrolling */
    font-family: var(--young-serif-font);
    margin: 5rem 8rem;
}

/* Make Images Easy To Work With */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Make Form Elements Easy To Work With */
input,
button,
textarea,
select {
    font: inherit; /*Normally, doesn't inherit font, which is a nightmare */
}

main {
    border-radius: 0.5em;
    padding: 2rem;
}

.bg-white { background-color: var(--white-color);}
.bg-rose { background-color: var(--rose-50-color) }
.bg-stone-100 { background-color: var(--stone-100-color); }

.text-stone-600 { color: var(--stone-600-color); }
.text-stone-900 { color: var(--stone-900-color); }
.text-rose { color: var(--rose-800-color) }
.text-brown { color: var(--brown-800-color) }

h1 { 
    font-size: clamp(2rem, 5.5vw, 3rem); 
    font-weight: 400;
}
h2 { 
    font-size: clamp(0.75rem, 5.5vw + 0.5rem, 2.5rem); 
    font-weight: 400;
}
h3 {
    text-indent: 1rem; 
    font-size: clamp(0.55rem, 3.5vw + 0.5rem, 1.7rem); 
    font-family: var(--outfit-font);
    font-weight: 600;
}

p { 
    font-size: var(--paragraph-fs);
}

/* =========================================== */
/* Utility Classes */

.centered {
    display: grid;
    place-items: center;
}

.container {
    display: grid;
    border-radius: 0.5em;
    padding: 1em;
    /* border: 1px solid black; */
}


/* Custom CSS */

.prep-box {
    margin-inline: 1.5rem;
}

#omelette {
    border-radius: 0.5em;
    padding-inline: 1rem;
    padding-block-start: 1rem;
    width: min(100%, 90rem);
}

* + * {
    margin-top: 1rem;
}

.container > *:not(:first-child) {
    color: var(--stone-600-color);
    font-family: var(--outfit-font);
}

.custom-list > li span {
    color: var(--stone-900-color);
    font-weight: 600;
}

.custom-list {
    --marker-clr: black;
}

.custom-list li {
    padding-left: 2rem;
}

.custom-list li::marker {
    color: var(--marker-clr);
    font-weight: 700;
}

.nutrition-item td {
    padding: 1rem;
}

.nutrition-item td:last-child {
    color: var(--brown-800-color);
    font-weight: 700;
}

.custom-hr {
    border-top: 1px solid var(--stone-150-color);
    margin-inline: 2rem;
}

@media (max-width: 765px) {
    body {
        margin: 0;
    }

    main {
        padding: 0;
    }

    #omelette {
        padding-block-start: 0;
        padding-inline: 0;
    }

    .custom-list li {
        padding-left: 1rem;
    }

    .nutrition-item td {
        padding: 0.5rem 0.25rem;
        text-align: center;
    }
}